<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css" />

    <script src="/static/js/jquery-1.10.2.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
    <script src="/static/js/custom.js"></script>

    {% block head %} {% endblock head %}

    <title>{% block title %}RetroFreud{% endblock %}</title>
</head>

<body>
    <div id="navbar">
    {% block navbar %}
            <ul class="nav nav-pills">
              <li class="active">
                <a href="/">Home</a>
              </li>
              <li ><a  href="/issues/">Retro</a></li>
              <li><a href="/moodmeter/">Moodmeter</a></li>
            </ul>
    {% endblock %}
    </div> <!-- .navbar -->

<div class="container">
        {% block content %}

        {% endblock %}
</div>
</body>
</html>