{% extends 'base.html' %}
  
{% block title %} Mood Meter {% endblock %}

{% block head %} 

{% endblock %}


{% block navbar %}
        <ul class="nav nav-pills">
          <li>
            <a href="/">Home</a>
          </li>
          <li><a href="/issues/">Retro</a></li>
          <li class="active"><a href="/moodmeter/">Moodmeter</a></li>
        </ul>

{% endblock %}

{% block content %}
<div class="row-fluid">
	<div class="span8">
		<h1>MoodMeter</h1>
	</div> <!-- .span -->
	<div class="span4">
	</div>
</div> <!-- .row -->
<div class="row-fluid" id="issue_list">
	<div class="span8 nice-and-round">
	{% include 'moodmeter/index_ajax.html' %}
	</div> <!-- ./span 8 -->
	<div classs="span4"></div>
</div> <!-- ./outside row -->

{% endblock %}