{% extends 'retro/index.html' %}
 
{% block title %}{{issue.title}}{% endblock %}

{% block head %}
<script type="text/javascript">
	$(document).ready(function(){
		//format suggestions
		format_text('#suggestions');
	});
</script>
{% endblock head %}
 
{% block content %}

<div class="row">
	<div class="span12">
		<h1>{{issue.title}}</h1>
	</div>
</div>

<div class="row">
	<div class="span6">
		<p class="issue-date">
			Created:
			<time datetime="{{profile.created|date:"c"}}">
			{{issue.created|date}}
			</time> &nbsp;&nbsp;
						Changed:
			<time datetime="{{profile.reissued|date:"c"}}">
			{{issue.reissued|date}}
			</time>

		</p>
	</div>
</div>

<div class="row">
	<div class="span6">
	<p class="issue-desc">
	{{issue.details}}
	</p>
</div>
</div>

<div class="row">
	<div class="span6">
		<h2>Issue status</h2>
		<div id="issue-status">
		{% include 'retro/issue_ajax.html'%}
		</div>
	</div>
</div>
<div class="row">
	<div class="span6 details">
	</div>
	<div class="span6">
	</div>
</div>
<div class="row">
	<div class="span6">
	<h2>Actions</h2>
	<div id="suggestions">{{issue.actions}}</div>

	<div>
		<button class="btn" data-toggle="modal" href="#improvements">Add actions</button>
		</div>

		<div id="improvements" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    <h3 id="myModalLabel">Enter actions</h3>
		  </div>
		  <div class="modal-body">
			<form id="retro_actions" name="retro_actions">{% csrf_token %}
			<textarea id="activities" name="activities" rows="10" cols="50">{{issue.actions}}</textarea>
			</form>
		  </div>
		  <div class="modal-footer">
		    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		    <button class="btn btn-primary" data-dismiss="modal" onclick="updateActions({{issue.id}})">Save changes</button>
		  </div>
		</div>
	</div>
</div>


{% endblock %}

